*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

button{
    padding: 5px 12px;
    border: solid 1px cornflowerblue;
    border-radius: 10%/20%;
    color: rgb(52, 53, 53);
    background-color: rgb(89, 174, 196);
    cursor: pointer;
}

header{
    background-color: rgb(66, 65, 65);
    font-size: 1.3em;
    display: flex;
    font-weight: 200;
    justify-content: space-around;
    border-bottom: 7px solid rgb(84, 165, 165);
}
.nav{
    margin: 0px;
    font-family: sans-serif,Arial;
    display: flex;
    align-items: center;
    width: 90%;
    height: 8vh;
}
.nav a{
    color: rgb(170, 165, 165);
}
.logo{
    width: 80%;
    font-size: 1.25em;
    font-weight: bold;
}
.logo a{
    color:rgb(75, 197, 197);
}
.logo span{
    color: rgb(170, 165, 165);

}

.nav:nth-child(1){
    margin-left: 40px;
}
.nav_link{
    display: flex;
    align-items: center;
    padding: 6px;
    color: black;
    justify-content: space-between;
    width: 190%;
    margin-left: 100px;
}
.nav_link li{
    padding: 8px;
}
.nav_link a:hover{
    color:rgb(75, 197, 197);
}
.nav_button{
    
    display: flex;
    align-items: center;
    color: black;
    justify-content:flex-end;
    width: 100%;
}
.nav_button li{
    padding-left: 40px;
}
.nav_button a{
    font-size: 1.4em;
    color: rgba(26, 25, 25, 0.877);
}
.nav_button button:hover{
    background-color: rgba(108, 212, 238, 0.89);
}
/* End of Navigation */

body{
    background-image: url("../BACG.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 100%;
    
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}
.sidebar{
    padding: 20px;
}
section{
    margin:10px;
}
.feature{
    width: 200px;
    height: 30px;
    background-color: rgb(24, 39, 104);
    color: rgb(135, 142, 143);
    border: 3px solid rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature{
    width: 200px;
    height: 140px;
    color: rgb(135, 142, 143);
    background-image: url("../image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature:hover{
    color:azure;
    filter: grayscale(50%);
}
.qrcode{
    width: 200px;
    height: 140px;
    color: rgb(135, 142, 143);
    background-image: url("../image/qr2.jfif");
    border: 3px solid rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrcode:hover{
    color:azure;
    filter: grayscale(50%);
}
.facerecognition{
    width: 200px;
    height: 140px;
    color: rgb(135, 142, 143);
    background-image: url("../image/fr.jfif");
    background-size: cover;
    border: 3px solid rgb(153, 153, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}
.facerecognition:hover{
    color:azure;
    filter: grayscale(50%);
}
.background_message{
    width: 60%;
}
.background_message section p{
    margin: 20px;
}
.background_message p{
    padding-bottom: 14px;
}

footer{
    font-size: 0.8em;
    color:rgb(75, 197, 197);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 65, 65);
    width: 100%;
    height: 50px;
    position: fixed;    
    bottom: 0;
    border-top: 8px solid rgb(84, 165, 165);
    padding:30px;
}
footer span{
    color: rgb(170, 165, 165);
}