*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(66, 65, 65);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrapper{
    min-height: 80vh;
    justify-content:space-around;
    display:grid;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.registration h1{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 20px;
}
.registration h1::before{
    content: '';
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 250px;
    margin-left: 28.5%;
    display: flex;
}
.registration{
    height: 52vh;
    width: 60vh;
    background-color: rgba(149, 165, 172, 0.726);
    border-radius: 25px;
}
.registration form .user-detail{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.inputs{
    padding: 10px;
}
input{
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom-width: 4px;
    transition: all 0.3 ease-in-out;
}
input:focus,input:valid{
    border-color: rgba(40, 98, 207, 0.8);
}
.details{
    margin-bottom: 8px;
}

.category{
    display: flex;
    justify-content: space-around;
}
form .gender-details {
    display: block;
    width: 90%;
    margin: 14px;
    justify-content:space-around;
    align-items: center;
}
.gender-title{
    margin: 10px 0px 15px 0px;
    display: flex;
    justify-content: center;
}
.category{
    padding: 10px;
    margin: 5px
}
.submit{
    width: 40%;
    margin: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
button{
    padding: 10px;
    border-radius: 35px;
    cursor: pointer;
    background-color: #60b9cf;
}
button:hover{
    background-color: #60b9cfb9;
}